body{
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    height: 100%;
    width: 100%;
}
.main_div .nav-tabs .nav-item {
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.main_div .carousel-indicators li {
    animation-name: 0;
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 81%;
    height: 8px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: 0;
    border-top: unset;
    border-bottom: unset;
    transition: opacity .6s ease;
    border-radius: 10px;
}
.custom_slider .carousel-control-next, .custom_slider .carousel-control-prev {
   top: 30px;
    width: 2%;
    color: #98badd;
    opacity: 1;
}
.custom_slider .carousel-control-next:hover, .custom_slider .carousel-control-prev:hover {
    color: #98badd;
}
.main_div .carousel-indicators li.active{
    opacity: 1;
    background: #7e7e7e;
}
.main_div ul.carousel-indicators {
    background: #e5e5e5;
    margin: 0;
    border-radius: 10px;
}
.main_div .left_side {
    background: #2f6db8;
    padding: 0;
    height: 100vh;
}

.main_div .right_side {
    padding: 0;
}

.main_div .nav-tabs .nav-link.active {
    color: #2f6db8;
    background-color: #ffffff !important;
    border-left: 7px solid #f6ba36;
    border-top: unset;
    border-bottom: unset;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
   
}

.main_div .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 0;
    border-bottom: 0;
    border: unset;
    padding-right: 0;
    width: 100%;
    text-align: center;
}

.main_div .nav-tabs .nav-link {
   background: #2f6db8;
    color: #fff;
    padding: 0;
    min-height: 80px;
    max-height: 80px;
    line-height: 80px;
    border-radius: unset;
    border: unset;
}

.main_div .tab-content>.active {
    display: block;
 
    min-height: 165px;
}
.main_div .tab-content {
    background: #fff;
}
.map_img img {
    width: 100%;
}
.custom_slider {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    margin: 700px 20px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
}

.slider_box span {
    font-size: 16px;
    color: #000;
    letter-spacing: 0.2px;
}
.full_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    margin: 15px auto 0 30px;
}
.full_div span {
    color: #7e7e7e;
    font-size: 16px;
}
.slider_box i {
    color: #f9b73a;
    margin-right: 15px;
}
.main_div .nav-tabs .nav-item span {
    font-size: 30px;
}

.slider_box i {
    color: #f9b73a;
    margin-right: 10px;
}
.full_box {
    padding: 15px 30px 30px 40px;
}  
.full_box:nth-child(2n) {
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
}

.second_tab .full_box:nth-child(2n) {
    border: unset;
}
.second_tab{
    margin: 30px 0;
}
.second_tab .full_div {
    max-width: 40%;
}
.second_tab .full_box {
    padding: 15px 30px 20px 40px;
}
.second_tab .slider_box i {
    color: #f9b73a;
    margin-right: 10px;
    font-size: 25px;
    position: relative;
    top: 5px;
}
.second_tab .custom_slider {
    padding-right: 0;
    overflow-y: scroll;
    overflow: auto;
    margin: 0 0 20px 40px;
}
.second_tab .custom_slider .slider_height{
 height: 400px;
 margin:0;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}
@media only screen and (max-width:1366px){
    .full_div {
   
    max-width: 70%;
   
}
.custom_slider {
    margin: -31px 20px 20px;
}
.custom_slider .carousel-control-next, .custom_slider .carousel-control-prev {
    top: 0;
}
}
@media only screen and (min-width:991px) and (max-width:1024px){
 .full_div {
    max-width: 85%;
}
.full_box {
    padding: 15px 20px 30px 20px;
}

}
@media only screen and (min-width:768px) and (max-width:991px){
 .full_div {
    max-width: 85%;
    margin: 15px auto 0 10px;
}
.full_box {
    padding: 15px 10px 30px 15px;
}
.custom_slider {
   
    margin: -20px 5px 20px;}
    .slider_box i {
    color: #f9b73a;
    margin-right: 5px;
}
.slider_box span {
    font-size: 14px;
}
.slider_box span {
    font-size: 14px;
    color: #000;
    letter-spacing: 0.2px;
}
}
@media only screen and (max-width:767px){
  .full_div {
    max-width: 100%;
    margin: 10px 10px 10px 30px;
}
.full_box {
    padding: 15px 30px 10px;
}
.full_box:nth-child(2n) {
    border-left: 0;
    border-right: 0;
}
.full_div {
    max-width: 100%;
}

}
@media only screen and (max-width:375px){
 .slider_box span {
    font-size: 12px;
}
.custom_slider {
    margin: -20px 10px 20px;
}

.full_div span {
    color: #7e7e7e;
    font-size: 12px;
}
.custom_slider .carousel-control-next, .custom_slider .carousel-control-prev {
    width: 5%;
}
.full_div {
    margin: 5px 10px 20px 25px;
}
}